<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Email Verification</title>
  </head>
  <body>
    <p>Dear {{username}},</p>
    <p>Thank you for registering. Please click the following link to verify your
      email:</p>
    <a href={{verificationLink}} target='_blank'>{{verificationLink}}</a>
    <p>If you did not request this verification, you can safely ignore this
      email.</p>
  </body>
</html>